@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
#menu-3 .navbar-toggler {
  color: #000;
}
#menu-2 .navbar-toggler {
  color: #000;
}

#menu-3 .navbar-toggler {
  color: #000;
}
#form1-b .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
